.align-label {
  display: inline-block;
  width: 250px;
  font-size: 22px;
}

.align-input{
  font-size: 22px;
  width: 300px;
}

.space{
  margin: 15px;
}

.button{
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
  color: white;
}

.font{
  font-size: 22px;
}

.wrapper{
  height: 100vh;
  box-sizing: border-box;
}

.header{
  height: 10%;
  border: 2px solid red;
  box-sizing: border-box;
}

.container{
  display: flex;
  height: 90%;
  border: 2px solid red;
  box-sizing: border-box;
  flex-direction: row;
}

.sidebar{
  width: 20%;
  border: 2px solid red;
}

.main-content{
  width: 80%;
  border: 2px solid red;
}

.table-border{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.t-width{
  width: 100%;
}

.profile-pic{
  border-radius: 75px;
    width: 60px;
}