.box{
  width: 500px;
  height: 150px;
  background-color: blue;
}

.big-box{
  width: 50vw;
  height: 25vh;
  background-color: #00bcd4;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.paragraph{
  font-size: 24px;
  font-style: italic;
  font-weight: 800;
  font-family: serif;
}