.box{
  width: 500px;
  height: 150px;
  background-color: blue;
}

.big-box{
  width: 50vw;
  height: 25vh;
  background-color: #00bcd4;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}

.paragraph{
  font-size: 44px;
  /* font-style: italic; */
  /* font-weight: 800; */
  font-family: 'Kolker Brush', cursive;
  /* border-style: solid; */
  border-width: 2px;
  /* border-color: #f44336; */
  border-top-style: double;
  border-left-style: dashed;
  border-bottom-style: dotted;
  border-right-style: solid;
  border-top-color: blueviolet;
  border-right-color: black;
  border-left-color: red;
  border-bottom-color: orchid;
  padding: 125px;
  margin: 125px;
}

.heading{
  /* border-style: solid; */
  border: 3px solid red;
  border-radius: 30px;
  margin-left: 280px;
  margin-right: 165px;
}

.small-box{
  width: 500px;
  height: 150px;
  border: 3px solid red;
}