.main{
  height: 98vh;
  margin: 0px;
}

.container-1{
  height: 38%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.container-2{
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
}

.container-3{
  height: 38%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
}

.heading-image{
  width: 20%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
}

.heading-content{
  width: 80%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
}

.heading-title{
  height: 45%;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.heading-desc{
  height: 55%;
  border: 2px solid black;
  box-sizing: border-box;
}

.heading-thumbnail{
  height: 100%;
  width: 15%;
  border: 2px solid black;
  box-sizing: border-box;
}

.heading-text{
  height: 100%;
  width: 75%;
  border: 2px solid black;
  box-sizing: border-box;
}

.heading-date{
  height: 100%;
  width: 10%;
  border: 2px solid black;
  box-sizing: border-box;
}