.main{
  height: 98vh;
  margin: 0px;
}

.container-1{
  height: 38%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.container-2{
  height: 20%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
}

.container-3{
  height: 38%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 10px;
}

.heading-image{
  width: 20%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
}

.heading-content{
  width: 80%;
  height: 100%;
  border: 2px solid blue;
  box-sizing: border-box;
}